.porto-container {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    overflow-x: hidden;
}

.porto-container::after,
.porto-container::before {
    content: '';
    width: 28.125rem;
    height: auto;
    border-radius: 28.125rem;
    background: #5784ff;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

.porto-container::after {
    top: 15rem;
    left: 5rem;
}

.porto-container::before {
    top: 50rem;
    right: 0rem;
}

.porto-cont {
    max-width: 65%;
    margin: auto;
}

.porto-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
}

.porto-container h6 {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #2667C4;
    padding: 0.8rem 2rem;
    border-radius: 0.65rem;
    border-bottom: 1.5px solid #2667C4;
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #2667C4;
    margin-bottom: 2rem;
}

.porto-content {
    display: flex;
    min-height: auto;
    border-radius: 0.65rem;
    border: 1.5px solid #2667C4;
    background: rgba(0, 7, 49, 0.398);
    backdrop-filter: blur(1rem);
    padding: 1rem;
    display: flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

.porto-content:hover {
    box-shadow: 0 0 10px 7px #2667C4;
    background: rgb(0, 33, 104);
}

.porto-content img {
    max-width: 100%;
    height: auto;
    border-radius: 0.65rem;
    transition: all 0.3s ease-in-out;
}

.porto-content img:hover {
    background: rgb(0, 33, 104);
    transform: scale(1.15);
    padding: 0;
    margin: 0;
}

.porto-content-fe {
    display: flex;
    min-height: auto;
    border-radius: 0.65rem;
    border: 1.5px solid #2667C4;
    background: rgba(0, 7, 49, 0.398);
    backdrop-filter: blur(1rem);
    padding: 1rem;
    display: flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.porto-content-fe:hover {
    background: rgb(0, 33, 104);
    box-shadow: 0 0 10px 7px #2667C4;
}

.porto-content-fe img {
    max-width: 100%;
    height: auto;
    border-radius: 0.65rem;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 0.5rem;
}

.porto-content-fe a {
    text-decoration: none;
}

.porto-content-fe p {
    max-width: auto;
    color: #fff;
    font-style: italic;
    border: 1.5px solid #2667C4;
    border-radius: 100rem;
    padding: 1rem;
    margin: auto;
}

.porto-content-fe:hover p,
.porto-content-fe:active p {
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    background: #fff;
    color: #2667C4;
    box-shadow: 0 0 10px 5px #2667C4;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.85);
    z-index: 1000;
    overflow: auto;
}

.popup img {
    max-height: 100%;
}

.close {
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    cursor: pointer;
    font-size: 2.5rem;
    color: #fff;
    padding: 0rem 0.75rem;
    border-radius: 0.65rem;
    background: rgba(0, 7, 49, 1);
    opacity: 35%;
}

.next,
.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    color: #fff;
    background: rgba(0, 7, 49, 1);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    opacity: 35%;
}

.next {
    right: 2%; /* Atur jarak dari sisi kanan */
}

.prev {
    left: 2%; /* Atur jarak dari sisi kiri */
}

.close:hover,
.next:hover,
.prev:hover {
    opacity: 100%;
    color: #2667C4;
    border-bottom: 1.5px solid #2667C4;
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #2667C4;
}

@media (max-width: 768px) {

    .porto-cont {
        max-width: 100%;
    }
    
    .close,
    .next,
    .prev {
        opacity: 15%;
    }

    .close {
        top: 15%;
    }

    .popup {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 7, 49, 0.9);
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup img {
        max-width: 100%;
        height: auto;
    }

    .next,
    .prev {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .porto-container h5 {
        font-size: 1.3rem;
    }
    
    .porto-container h6 {
        margin-top: 2rem;
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {

    .porto-cont {
        max-width: 100%;
    }
    
    .popup {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 7, 49, 0.9);
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .porto-content-fe p {
        font-size: 70%;
    }
    .close {
        right:3%;
        top: 25%;
        font-size: 2rem;
        padding: 0rem 0.75rem;
        border-radius: 0.65rem;
    }

    .next,
    .prev {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        top: 50%;
    }
}

@media (max-width: 425px) {

    .porto-content img:hover {
        transform: none;
    }

    .porto-container {
        margin: 3rem 0;
    }

    .porto-content {
        padding: 0;
    }

    .close,
    .next,
    .prev {
        opacity: 20%;
    }
    .close {
        right:3%;
        top: 30%;
        font-size: 1.5rem;
        padding: 0rem 0.55rem;
        border-radius: 0.5rem;
    }

    .next,
    .prev {
        width: 2.25rem;
        height: 2.25rem;
        font-size: 1.25rem;
        top: 50%;
    }
}

@media (max-width: 375px) {

    .close {
        top:36%;
    }
}

@media (max-width: 320px) {

    .close {
        top:35%;
    }
}
