.contact-wrap {
    margin-bottom: 3rem;
}

.contact-wrap h5 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
  
  .contact-container {
    width: 100%;
    padding: 1rem;
    background: rgba(0, 7, 49, 0.9);
    border: 1.5px solid #2667C4;
    border-radius: 0.65rem;
    color: #fff;
    text-align: center;
    position: relative;
  }

  .contact-grid a {
    text-decoration: none;
    color: inherit;
  }
  
  .contact-container:hover {
    background: #fff;
    color: #2667C4;
    font-weight: 600;
    box-shadow: 0 0 10px 5px #2667C4;
  }
  
  .contact-container img {
    max-width: 5rem;
  }
  
  .contact-container p {
    font-size: 0.8rem;
  }
  

  @media (max-width: 769px) {
    .contact-grid {
      margin: auto;
    }
  
    .contact-wrap h5 {
      font-size: 1.3rem;
    }

    .contact-container p {
        font-size: 0.775rem;
      }
  }

  @media (max-width: 600px) {

    .contact-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
  }

    .contact-container {
      margin: auto;
      max-width: 90%;
    }

    .contact-container img {
      max-width: 4rem;
    }
    
    .contact-container p {
      font-size: 0.6rem;
    }
  }